# Backend (Laravel)
backend/vendor/
backend/.env
backend/.env.backup
backend/node_modules/
backend/public/hot
backend/public/dist
backend/public/storage
backend/storage/*.key
backend/.phpunit.result.cache
backend/Homestead.json
backend/Homestead.yaml
backend/npm-debug.log
backend/yarn-error.log

# Frontend (Vue3)
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env.*.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

#не актуальное
ParseYandexReviews.php
YandexMapsParser.php
